# Public configuration only. Keep passwords in ../secrets/.
# DOMAIN
DOMAIN_NAME=vfidelis.42.fr

# MYSQL / MARIADB
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
WORDPRESS_DB_HOST=mariadb

# WORDPRESS
WP_TITLE=Inception
WP_ADMIN_USER=vfidelis_owner
WP_ADMIN_EMAIL=vfidelis@example.com
WP_USER=vfidelis_user
WP_USER_EMAIL=user@example.com